


.image-container {
  margin-left:100px;
  border : 3px;
  box-sizing:border-box;
}

.image-uploader {
    
    &:not(.filled) {
      opacity:0.7;
      cursor:pointer;
      background:#fff;
      box-shadow:5px 5px 0 rgba(0,0,0,0.1) inset;
      &:hover {
        opacity:1;
        .image {
          border:3px dashed #bbb!important;
        }
      }
    }
    &.filled {
      cursor:move;
    }
  
    .image {
      overflow:hidden;
      border:1px solid #aaa;
    }
  
    .image {
      width:150px;
      height:150px;
    }
    
    &.filled label {
      display:none;
    }
    label {
      display:block;
      color:#888;
      font-size:0.9em;
      margin:1em;
      position: absolute;
      top: 0;
      left: 0;
    }
    img {
      border:none;
    }
    #uploader {
      display:none;
    }
    .zoom {
      position: absolute;
      top: 0;
      left: -35px;
      .plus {
        background:url(http://s.cdpn.io/24822/zoom-in.png) center no-repeat;
      }
      .minus {
        background:url(http://s.cdpn.io/24822/zoom-out.png) center no-repeat;
      }
      .close {
        background:url(http://s.cdpn.io/24822/close-widget.png) center no-repeat;
      }
      .plus, .minus, .close {
        cursor:pointer;
        opacity:0.7;
        padding:2px;
        font-size:20px;
        text-align:center;
        width:30px;
        height:30px;
        &:hover {
          opacity:1;
        }
      }
    }
  }

.droppable .image {
  border:2px dashed #ccc!important;
}